
h3 {
  background-color:lightblue;
}

h1{
  background-color: lightblue; 
  color: white;
  font-size: 50px;
  font-weight: bold; 
  margin-bottom: 50px;
  margin: 10px;
}
h2 {
  margin:10px;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 30px;
  border: 1px solid green;
}
img {
  height: 200px;
  padding: 30px;
} 
h3 {
  margin: 10px;
  line-height: 1.5;
  font-size: 30px;
  font-weight: bold;
  }

li {
  font-size:20px;
  margin:30px;
  border: 1px dashed green;
}
 
ol {
  list-style-type: decimal;
  margin-bottom: 50px;
} 

ul {
  list-style-type: disc;
  }

  